body{
    background-image: url('/fase3/img/fondo.jpg');
}
.header1{
    width: 99.99%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(50px);
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 7px black;
}
h1{
    font-family: Verdana;
    color: white;
    text-shadow: 2px 2px 7px black;
}