.container{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.info{
    margin: 70px 20px;
    width: 100%;
    padding: 15px;
    align-content: center;
}
#image{
    height: 70%;
    width: 100%;
    border-radius: 10px;
}

#articulo{
    background-color: rgba(40, 55, 71, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 2px 2px 7px black;
    border-radius: 10px;
}